body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    margin-left: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form input {
    height: 40px;
    width: 350px;
    padding: 5px;
    margin-bottom: 60px;
}